<div class="container my-3">
  <h1 class="mb-3">{{title}}</h1>
  <form>
    <div class="row">
      <div class="col-sm-8 mb-5">
        <app-field
          [id]="'title'"
          [type]="'textfield'"
          label="Titre"
          [defaultValue]="content.title"
          *ngIf="loaded"
        ></app-field>
        <div *ngFor="let field of fields">
          <app-field
            [type]="field.type"
            [id]="field.id"
            [label]="field.label"
            [required]="field.required"
            [disabled]="field.disabled"
            [description]="field.description"
            [defaultValue]="field.defaultValue"
            [prefix]="field.prefix"
            [suffix]="field.suffix"
            [multiple]="field.multiple"
            [options]="field.options"
          ></app-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <app-field
                [id]="'urlAlias'"
                [type]="'textfield'"
                label="Alias d'URL"
                description="Un url pour accéder a la page de ce contenu"
                [defaultValue]="content.urlAlias"
                *ngIf="loaded"
              ></app-field>
            </li>
            <li class="list-group-item">
              <app-field
                [id]="'status'"
                [type]="'radios'"
                [label]="'Statut'"
                [options]="[
                  {
                    value: 3,
                    label: 'Publié',
                    disabled: true
                  },
                  {
                    value: 1,
                    label: 'Brouillon'
                  },
                  {
                    value: 2,
                    label: 'Soumis a validation'
                  }
                ]"
                [defaultValue]="content.status"
                *ngIf="loaded"
              ></app-field>
            </li>
            <li class="list-group-item">
              <app-field
                [id]="'visiblity'"
                [type]="'radios'"
                [label]="'Visibilité'"
                [options]="[
                    {
                      value: false,
                      label: 'Privé'
                    },
                    {
                      value: true,
                      label: 'Publique'
                    }
                  ]"
                [defaultValue]="content.visibility"
                *ngIf="loaded"
              ></app-field>
              <button type="button" class="btn btn-primary mt-2" (click)="saveContent()">Sauvegarder</button>
              <button type="button" class="btn btn-link text-danger mt-2">Supprimer</button>
            </li>
          </ul>
        </div>
      </div>

      </div>
  </form>
</div>

