form input {
  border-color: #ced4da;
}

form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

form.login-failed input {
  border-color: #dc3545;
}

form.login-failed input:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
