<div [ngSwitch]="type">
  <app-email *ngSwitchCase="'email'" [field]="fieldData" (update)="onUpdateData($event)"></app-email>
  <app-radios *ngSwitchCase="'radios'" [field]="fieldData" (update)="onUpdateData($event)"></app-radios>
  <app-checkbox *ngSwitchCase="'checkbox'" [field]="fieldData" (update)="onUpdateData($event)"></app-checkbox>
  <app-checkboxes *ngSwitchCase="'checkboxes'" [field]="fieldData" (update)="onUpdateData($event)"></app-checkboxes>
  <app-text-field *ngSwitchCase="'textfield'" [field]="fieldData" (update)="onUpdateData($event)"></app-text-field>
  <app-text-area *ngSwitchCase="'textarea'" [field]="fieldData" (update)="onUpdateData($event)"></app-text-area>
  <app-text-editor *ngSwitchCase="'texteditor'" [field]="fieldData" (update)="onUpdateData($event)"></app-text-editor>
  <app-select *ngSwitchCase="'select'" [field]="fieldData" (update)="onUpdateData($event)"></app-select>
</div>
