<div class="form-check" [ngClass]="{'required': field.required, 'disabled': field.disabled}">
  <label class="form-check-label">
    <input
      class="form-check-input"
      type="checkbox"
      name="{{field.id}}"
      id="{{field.id}}"
      value="true"
      (change)="onChange($event)"
      [checked]="field.defaultValue === true"
      [disabled]="field.disabled"
    >
    {{field.label}}
  </label>
</div>
<small *ngIf="field.description !== ''" id="{{field.id + 'Help'}}" class="form-text text-muted">{{field.description}}</small>
